{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="<%= snakeName %>">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="apple-touch-startup-image" href="/static/splash.jpg">
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="manifest" href="/static/manifest.json">

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="{% static '' %}css/<%= snakeName %>.min.css"/>

    <title>
      {% block title %}{% endblock title %}
      <%= CamelName %>
    </title>
    <meta name="description" content=""/>
  </head>
  <body ontouchstart="">
    {% with menu_level=page_menu %}
    {% with menu=True %}
    {% include 'dna/_menu.html' %}
    {% endwith %}
    {% endwith %}
    <h1>
      {% block h1 %}{% endblock h1 %}
    </h1>
    {% block content %}{% endblock content %}
    <footer>
      <div>
        <a href="/">
          <img src="/static/elio-<%= snakeName %>-logo.png">
        </a>
      </div>
      <div>
        <label>&copy; 2020 Made **the elioWay**</label>
      </div>
    </footer>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>
