{% extends '<%= snakeName %>/base.html' %}
{% load static %}

{% block title %}
  {{ thing_name }}
{% endblock title %}

{% block content %}
  {% spaceless %}
  {% include 'dna/_thing_engaged.html' %}
  {% endspaceless %}
  <p>
    <a href="{% url 'update.thing' page_slug 'list' thing_name object.pk %}">
      <button>Update
        {{ thing_name }}</button>
    </a>
    <a href="{% url 'delete.thing' page_slug thing_name object.pk %}">
      <button>Delete</button>
    </a>
    <a href="{{ object.get_host_page }}">
      <button type="button">Back</button>
    </a>
  </p>
{% endblock content %}
